.app-container {
  height: 100vh;
  width: 100vw;
  background-color: #ede7f6;
}

.app-sidebar-element {
  width: 260px;
  background-color: transparent;
  border-right: none !important;
  box-shadow: none !important;
  overflow-x: hidden;
}

.app-main-content {
  padding: 0;
}
