.student-card.item-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease-in-out;
  background-color: #fff;
}

.student-card.item-card:hover {
  box-shadow: 0 4px 10px rgba(81, 45, 168, 0.1);
}

.item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #b39ddb;
}

.mat-mdc-card-header-text {
  margin-left: 12px !important;
}

.item-title {
  font-weight: 500;
}

.item-subtitle {
  font-size: 0.9em;
  color: #673ab7;
}

.subtitle-separator {
  margin: 0 4px;
  color: #9575cd;
}

.student-card-content.item-card-content {
  font-size: 0.9em;
  color: #444;
  padding-top: 8px;
}

.student-card-content.item-card-content p {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.content-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-right: 8px;
  color: #512da8;
}
