.popup-content {
  min-width: 420px;
  max-height: 80vh;
  overflow-y: auto;
  padding-top: 16px;
}

.add-slot-section {
  margin-bottom: 24px;
  padding: 16px;
  border: 1px solid #b39ddb;
  border-radius: 8px;
  background-color: #f3e5f5;
}

.add-slot-section h3 {
  margin-bottom: 16px;
  color: #311b92;
  font-size: 1.1em;
}

.time-selectors-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 12px;
}

.hour-select-field {
  flex: 1;
}

.slider-container {
  padding: 0 8px;
  margin-bottom: 20px;
}

.time-slider {
  width: 100%;
}

.add-slot-button {
  margin-top: 16px;
  width: 100%;
}
.add-slot-button mat-icon {
  margin-right: 6px;
}

.existing-slots-section h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  color: #311b92;
  font-size: 1.1em;
}

.mat-mdc-list-item.existing-slot-item {
  border-bottom: 1px solid #ede7f6;
  padding: 10px 0 !important;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 4px;
}
.mat-mdc-list-item.existing-slot-item:hover {
  background-color: #f5f3f7;
}


.mat-mdc-list-item.existing-slot-item:last-child {
  border-bottom: none;
}

.slot-time-text {
  flex-grow: 1;
  color: #4527a0;
}

.booked-slot .slot-time-text,
.booked-slot .booked-indicator {
  color: #757575;
  font-style: italic;
}
.booked-slot mat-icon {
    color: #FFB300 !important;
}

.existing-slot-item mat-icon:not(.booked-slot mat-icon) {
    color: #673ab7;
}

.booked-indicator {
  font-size: 0.85em;
  color: #AF8600;
  margin-left: 8px;
}

.delete-button {
  margin-left: auto;
}

.no-slots-message {
  text-align: center;
  color: #757575;
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f3f7;
  border-radius: 4px;
}

mat-divider {
  margin: 24px 0;
  border-top-color: #b39ddb;
}

mat-dialog-actions {
  padding-top: 20px;
}
